#Proyecto Final Fase 3 Módulo 4 BEDU

##Análisis de datos con Python - Equipo 4

###Integrantes: 
- Juan Manuel Ledesma Rangel
- Hannia Melendres Samaniego
- Alejandro Cortéz Sánchez
- Martín Otamendi Torres

---
##A. [Previo] Procesamiento de datos [MODIFICAR]

###A.1 Problema: [MODIFICAR]
> _x_

###A.2 Fundamento teórico del proyecto: [MODIFICAR]
> Se puede encontrar en orden en el siguiente documento de Google: _x_

###A.3 Planteamiento de preguntas [MODIFICAR]
Tras realizar la investigación preliminar, surgieron las siguientes preguntas (también encontradas dentro del documento comentado con anterioridad):

1.   _x_
2.   _x_
3.   _x_
4.   _x_
5.   _x_

### A.4 Colección de datos/AED/Limpieza

Para el análisis, utilizaremos los dataset (en formato .csv)...

>"credit_card_approvals_clean.csv"

obtenido desde https://www.kaggle.com/datasets/samuelcortinhas/credit-card-approval-clean-data?select=crx.csv, y encontrado en nuestro repositorio.

####A.4.1 Importación y AED

Realizamos un análisis exploratorio de datos para conocerlos.

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/HanniaMele/bedu-equipo4-dataScience-M4/main/raw_data/credit_card_approvals_clean.csv")

df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [20]:
df.tail()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
685,1,21.08,10.085,0,0,Education,Black,1.25,0,0,0,0,ByBirth,260,0,0
686,0,22.67,0.750,1,1,Energy,White,2.00,0,1,2,1,ByBirth,200,394,0
687,0,25.25,13.500,0,0,Healthcare,Latino,2.00,0,1,1,1,ByBirth,200,1,0
688,1,17.92,0.205,1,1,ConsumerStaples,White,0.04,0,0,0,0,ByBirth,280,750,0
689,1,35.00,3.375,1,1,Energy,Black,8.29,0,0,0,1,ByBirth,0,0,0

In [21]:
df.shape

(690, 16)

####A.4.2 Mapping e indexación de filas

In [22]:
df.columns

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'Industry',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'Approved'],
      dtype='object')

Observamos las columnas y notamos que estás no tienen el formato `snake_case`, por lo que realizamos mapping.

In [23]:
df = df.rename({"Gender": "gender",
            "Age": "age",
            "Debt": "debt",
            "Married": "married",
            "BankCustomer": "bank_customer",
            "Industry": "industry",
            "Ethnicity": "ethnicity",
            "YearsEmployed": "years_employed",
            "PriorDefault": "prior_default",
            "Employed": "employed",
            "CreditScore": "credit_score",
            "DriversLicense": "driver_license",
            "Citizen": "citizen",
            "ZipCode": "zip_code",
            "Income": "income",
            "Approved": "approved"},
            axis = 1)

df.head()

,gender,age,debt,married,bank_customer,industry,ethnicity,years_employed,prior_default,employed,credit_score,driver_license,citizen,zip_code,income,approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

####A.4.3 NaNs

Buscamos nans con la función `.isna()`.

In [24]:
df.isna().sum(axis=0)

gender            0
age               0
debt              0
married           0
bank_customer     0
industry          0
ethnicity         0
years_employed    0
prior_default     0
employed          0
credit_score      0
driver_license    0
citizen           0
zip_code          0
income            0
approved          0
dtype: int64

Nuestros datos están **limpios**.

####A.4.4 Tipos de datos

Verificamos tipos de datos con `.dtypes`.

In [25]:
df.dtypes

gender              int64
age               float64
debt              float64
married             int64
bank_customer       int64
industry           object
ethnicity          object
years_employed    float64
prior_default       int64
employed            int64
credit_score        int64
driver_license      int64
citizen            object
zip_code            int64
income              int64
approved            int64
dtype: object

Nuestros datos están correctamente tipeados y **listos para usarse**.

---
##B. Estimados de locación y variabilidad - Postwork 1

###B.1 Datos estructurados
Visualizamos `.head()` de nuestro dataset nuevamente...

In [26]:
df.head()

,gender,age,debt,married,bank_customer,industry,ethnicity,years_employed,prior_default,employed,credit_score,driver_license,citizen,zip_code,income,approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

y notamos que contamos tanto con `variables cualitativas` como `variables cuantitativas`.

####B.1.1 Datos cualitativos no binarios

Tras analizar e investigar la fuente de nuestro dataset, determinamos que hay dos tipos de datos categóricos (no binarios)...

- Aquellos con valores textuales (strings):

In [46]:
df[["industry", "ethnicity", "citizen"]].dtypes

industry     object
ethnicity    object
citizen      object
dtype: object

- Aquellos con valores numéricos:

In [47]:
df[["credit_score", "zip_code"]].dtypes

credit_score    int64
zip_code        int64
dtype: object

Para el caso de `zip_code`, sus valores determinan cierta zona geográfica. En cambio, para `credit_score`, sus valores indican el puntaje crediticio obtenido según reportes anteriores a la solicitud de tarjeta de crédito de este dataset. 

Los bancos (y otras empresas como aquellas de tiendas departamentales) cuentan con su rango de puntaje crediticio que van otorgando a sus clientes según corresponda. Por ende, este último ya tiene un rango establecido desde mucho antes, convirtiéndolo en una variable categórica a pesar de contar con valores numéricos.

Sus valores para este dataset son:

In [52]:
np.unique(df["credit_score"])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 19, 20, 23, 40, 67])

####B.1.2 Datos cualitativos binarios

Solo por la visualización del `.head()`, podemos suponer cuáles de nuestras columnas contienen datos binarios. Sin embargo, lo comprobaremos con la función `np.unique()`.

In [45]:
#Columna gender
print(f"Para 'gender':")
print(np.unique(df["gender"]))
print("\n")

#Columna married
print(f"Para 'married':")
print(np.unique(df["married"]))
print("\n")

#Columna bank_customer
print(f"Para 'bank_customer':")
print(np.unique(df["bank_customer"]))
print("\n")

#Columna prior_default
print(f"Para 'prior_default':")
print(np.unique(df["prior_default"]))
print("\n")

#Columna employed
print(f"Para 'employed':")
print(np.unique(df["employed"]))
print("\n")

#Columna driver_license
print(f"Para 'driver_license':")
print(np.unique(df["driver_license"]))
print("\n")

#Columna approved
print(f"Para 'approved':")
print(np.unique(df["approved"]))
print("\n")

Para 'gender':
[0 1]


Para 'married':
[0 1]


Para 'bank_customer':
[0 1]


Para 'prior_default':
[0 1]


Para 'employed':
[0 1]


Para 'driver_license':
[0 1]


Para 'approved':
[0 1]

Y efectivamente, todas las columnas que sospechábamos de tipo binario, resultaron serlo.

####B.1.3 Datos cuantitativos

Nuestros datos cuantitativos son:

In [51]:
df[["age", "debt", "years_employed", "income"]].dtypes

age               float64
debt              float64
years_employed    float64
income              int64
dtype: object

###B.2 Estimados de locación
Con nuestros datos estructurados ya distinguidos, podemos proceder a conocerlos por medio de estadísticos y visualizaciones.

####B.2.1 Datos cuantitativos
La mayoría de estimados de locación o medidas de tendencia central se pueden realizar para datos cuantitativos. Así:

#####B.2.1.1 Media
Aplicamos `.mean()` a nuestros datos cuantitativos, para obtener el promedio.

In [59]:
#Columna age
print(f"Para columna 'age', la media es de {round(df['age'].mean(), 2)}")
print("\n")

#Columna debt
print(f"Para columna 'debt', la media es de {round(df['debt'].mean(), 2)}")
print("\n")

#Columna years_employed
print(f"Para columna 'years_employed', la media es de {round(df['years_employed'].mean(),2)}")
print("\n")

#Columna age
print(f"Para columna 'income', la media es de {round(df['income'].mean(),2)}")
print("\n")

Para columna 'age', la media es de 31.51


Para columna 'debt', la media es de 4.76


Para columna 'years_employed', la media es de 2.22


Para columna 'income', la media es de 1017.39

#####B.2.1.2 Mediana
Aplicamos `.median()` a nuestros datos cuantitativos, para conocer el valor posicionado al centro.

In [61]:
#Columna age
print(f"Para columna 'age', la mediana es de {round(df['age'].median(), 2)}")
print("\n")

#Columna debt
print(f"Para columna 'debt', la mediana es de {round(df['debt'].median(), 2)}")
print("\n")

#Columna years_employed
print(f"Para columna 'years_employed', la mediana es de {round(df['years_employed'].median(),2)}")
print("\n")

#Columna age
print(f"Para columna 'income', la mediana es de {round(df['income'].median(),2)}")
print("\n")

Para columna 'age', la mediana es de 28.46


Para columna 'debt', la mediana es de 2.75


Para columna 'years_employed', la mediana es de 1.0


Para columna 'income', la mediana es de 5.0

Aunque sencillos, estos dos datos ya nos están otorgando información interesante sobre nuestro dataset. Por ejemplo, para las columnas de age, debt y years_employed, entre la mediana y la media no parece haber una distinción tan severa, al menos no a primera vista. No obstante, la diferencia para la columna income es abismal, y puede indicarnos la existencia de datos atípicos.

#####B.2.1.3 Media truncada
[PREGUNTA PARA EL EQUIPO] ¿Creen que sea necesario hacer al menos una media truncada?

#####B.2.1.4 Desviación estándar
La desviación estándar nos permitirá identificar qué tan dispersos están nuestros datos. Para ello usamos la función `.std()`.

In [62]:
#Columna age
print(f"Para columna 'age', la desviación estándar es de {round(df['age'].std(), 2)}")
print("\n")

#Columna debt
print(f"Para columna 'debt', la desviación estándar es de {round(df['debt'].std(), 2)}")
print("\n")

#Columna years_employed
print(f"Para columna 'years_employed', la desviación estándar es de {round(df['years_employed'].std(),2)}")
print("\n")

#Columna age
print(f"Para columna 'income', la desviación estándar es de {round(df['income'].std(),2)}")
print("\n")

Para columna 'age', la desviación estándar es de 11.86


Para columna 'debt', la desviación estándar es de 4.98


Para columna 'years_employed', la desviación estándar es de 3.35


Para columna 'income', la desviación estándar es de 5210.1

Con este nuevo dato, definitivamente notamos que la columna de "income" es un caso interesante.

#####B.2.1.5 Estadísticos de orden
Usando los estadísticos de orden, conoceremos las dimensiones de los valores de nuestros datos, y completaremos nuestra imagen mental de las distribuciones que hemos ido recopilando hasta ahora. Usamos la función `.quantile()`.

####B.2.2 Datos cualitativos
Se utiliza la moda, `statistics.mode()`, para conocer el valor que más se repite de un conjunto de datos categóricos. Así:

#####B.2.2.1 No binarios

In [67]:
import statistics
print("De valor cadena:")

#Columna industry
print(f"Para columna 'industry', la moda es {statistics.mode(df['industry'])}")
print("\n")

#Columna ethnicity
print(f"Para columna 'ethnicity', la moda es {statistics.mode(df['ethnicity'])}")
print("\n")

#Columna citizen
print(f"Para columna 'citizen', la moda es {statistics.mode(df['citizen'])}")
print("\n")

#---------

print("De valor numérico:")

#Columna credit_score
print(f"Para columna 'credit_score', la moda es de {statistics.mode(df['credit_score'])}")
print("\n")

#Columna zip_code
print(f"Para columna 'zip_code', la moda es de {statistics.mode(df['zip_code'])}")
print("\n")

De valor cadena:
Para columna 'industry', la moda es Energy


Para columna 'ethnicity', la moda es White


Para columna 'citizen', la moda es ByBirth


De valor numérico:
Para columna 'credit_score', la moda es de 0


Para columna 'zip_code', la moda es de 0

#####B.2.2.2 Binarios

In [71]:
#Columna gender
print(f"Para columna 'gender', la moda es {statistics.mode(df['gender'])}")
print("\n")

#Columna married
print(f"Para columna 'married', la moda es {statistics.mode(df['married'])}")
print("\n")

#Columna bank_customer
print(f"Para columna 'bank_customer', la moda es {statistics.mode(df['bank_customer'])}")
print("\n")

#Columna prior_default
print(f"Para columna 'prior_default', la moda es de {statistics.mode(df['prior_default'])}")
print("\n")

#Columna employed
print(f"Para columna 'employed', la moda es de {statistics.mode(df['employed'])}")
print("\n")

#Columna driver_license
print(f"Para columna 'driver_license', la moda es de {statistics.mode(df['driver_license'])}")
print("\n")

#Columna approved
print(f"Para columna 'approved', la moda es de {statistics.mode(df['approved'])}")
print("\n")

Para columna 'gender', la moda es 1


Para columna 'married', la moda es 1


Para columna 'bank_customer', la moda es 1


Para columna 'prior_default', la moda es de 1


Para columna 'employed', la moda es de 0


Para columna 'driver_license', la moda es de 0


Para columna 'approved', la moda es de 0

---
## C. Introducción a visualización de datos: Visualizaciones  - Postwork 2

---
##D. Exploración de variables categóticas y análisis multivariable - Postwork 3

---
##E. Correlaciones y regresión linear simple - Postwork 4

---
##F. Distribuciones muestrales y técnicas de evaluación de modelos - Postwork 5

---
##G. Visualización de datos avanzada - Postwork 6

---
##H. Pruebas A/B y procesamiento del lenguaje natural - Postwork 7

---
##I. Introducción a Machine Learning - Postwork 8